<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{.Permalink}}
      },
      "headline": "{{ .Title }}",
      "datePublished": "{{ .Date }}",
      "dateModified": "{{ .Date }}",
      "author": {
        "@type": "Person",
        "name": "ranuzz"
      },
      "publisher": {
        "@type": "Organization",
        "name": "makeall.dev",
        "logo": {
          "@type": "ImageObject",
          "url": {{ .Site.Params.hidden_site_logo }}
        }
      }
    }
</script>