{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bt bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline black-grey">
    <div class="flex flex-column flex-row-ns">
      {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="{{ $featured_image }}" class="db" alt="image from {{ .Title }}">
        </div>
      {{ end }}
      <div class="w-100 w-60-ns pl3-ns">
        <h1 class="f3 fw1 baskerville mt0 lh-title">
          <a href="{{.Permalink}}" class="color-inherit dim link">
            {{ .Title }}
          </a>
        </h1>
        <p class="f6 f5-l lh-copy">
          {{ .Summary }}
        </p>

      </div>
    </div>
  </div>
</article>
